.bak
.asc
.DS_Store
*.pyc
*.bak
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_018_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_018_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_018_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_018_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_017_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_017_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_017_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_017_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_016_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_016_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_016_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_016_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_013_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_013_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_013_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_013_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_011_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_011_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_011_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_011_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_010_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_010_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_010_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_010_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_007_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_007_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_007_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_007_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_006_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_006_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_006_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_006_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_005_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_005_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_005_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_005_dist_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_004_thickness_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_004_thickness_full.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_004_dist_masked.asc
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/LFS1_2001_004_dist_full.asc
MrOptimizedLoba/test_1212.ipynb
MrOptimizedLoba/test_numba.py
*.bak
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/example_run_000_advanced_inp.bak
*.asc
.vscode/settings.json
MrOptimizedLoba/HAWAII_005_out.dbf
MrOptimizedLoba/HAWAII_005_out.shp
MrOptimizedLoba/HAWAII_005_out.shx
MrOptimizedLoba/input_data_advanced.py
MrOptimizedLoba/input_data.py
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/input_data_advanced.py
MrLavaLoba-master/EXAMPLES/ETNA_LFS1/input_data_advanced.py
from_cluster/reysvakry10m_msl.npy
from_cluster/fagralike_004_avg_thick.txt
